@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100vh;
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

.header-task {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.border-multicolor {
    position: fixed;
    z-index: 3;
    top: 56px;
    height: 7px;
    width: 100%;
    background: linear-gradient(to right, #ffc107 0%, #ffc107 25%, #17a2b8 25%, #17a2b8 50%, #28a745 50%, #28a745 75%, #dc3545 75%, #dc3545 100%);
    border-bottom: solid 2px #FFF;
}

.content-task {
    padding-top: 65px !important;
}

.tasks .actions-tasks {
    opacity: 0;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: -18px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.tasks-date {
    opacity: 0;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.task-title {
    color: #333;
    font-weight: 600;
}

.task-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 34px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tasks .actions-tasks .hidden {
    display: none;
}

.see-more {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    color: rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}

.tasks:hover .actions-tasks, .tasks:hover .tasks-date, .tasks:hover .see-more {
    opacity: 1;
}

#msjFail {
    color: rgb(230, 73, 73);
    font-size: .7em;
}

.material-icons {
    font-size: 16px;
    margin-top: 3px;
}

.modal-header {
    background: #e9ecef;
}

#total-task-created {
    position: relative;
    bottom: 0;
    width: 100%;
}

.no-yet {
    color: #ccc;
    font-size: 12px;
}

.btn-violet {
    color: #fff;
    background-color: #9828a7;
    border-color: #8328a7;
}

.simditor .simditor-body, .editor-style {
    
}

.simditor .simditor-body {
    min-height: 0;
    max-height: 230px;
    overflow: auto;
}

.simditor .simditor-toolbar > ul > li > .toolbar-item {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}